.wrapper{
    width:90%;
    margin-left: 5%;
    float: left;
}

.moldura-video{
    margin: 20px;
    width: calc(50% - 42px);
    border: 1px solid gray;
    float: left;
    min-height: 200px;
    border-radius: 20px;
    overflow: hidden;
}

.moldura-viedo iframe{
    margin-bottom: -5px;
    height:400px; /*margens negativas vai fazer com que diminua ao tamanho*/
}

.moldura-video video{
    width:120%;
}